{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Menu Principal</h1>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('cadastro_inc') }}" class="btn btn-primary w-100">Cadastrar INC</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('visualizar_incs') }}" class="btn btn-primary w-100">Visualizar INCs</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('expiracao_inc') }}" class="btn btn-primary w-100">INCs Vencidas</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('rotina_inspecao') }}" class="btn btn-primary w-100">Rotina de Inspeção</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('gerenciar_fornecedores') }}" class="btn btn-primary w-100">Gerenciar Fornecedores</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('listar_rotinas_inspecao')}}" class="btn btn-primary w-100">Listar Rotinas de Inspeçao</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('monitorar_fornecedores') }}" class="btn btn-primary w-100">Monitorar Fornecedores</a>
        </div>
        {% if current_user.is_admin %}
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('gerenciar_logins') }}" class="btn btn-secondary w-100">Gerenciar Logins</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}